<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>traceIP</key>
	<string>trace_save</string>
	<key>categoryIP</key>
	<string>deal_querybyappidstate</string>
	<key>saveTokenIP</key>
	<string>devicetoken_save</string>
	<key>articleIP</key>
	<string>apparticle_query</string>
	<key>allAppIP</key>
	<string>app_querybymap</string>
	<key>loginIP</key>
	<string>login_queryToReturn</string>
	<key>logoutIP</key>
	<string>logout</string>
	<key>MessageIP</key>
	<string>queryMsgByAppidAndUserid</string>
	<key>ResetIP</key>
	<string>resetBadge_delete</string>
	<key>getcommentIP</key>
	<string>querybycols</string>
	<key>subcommentIP</key>
	<string>submitComment</string>
	<key>serverip3</key>
	<string>http://192.168.1.33:8080/UADigitalPublish/</string>
	<key>serverip</key>
	<string>http://175.6.1.99:9090/UADigitalPublish/</string>
	<key>resrcsip</key>
	<string>resrcs/json/theme-phone-cfg.json</string>
	<key>imagesip</key>
	<string>resrcs/images/theme-phone/</string>
	<key>rootip</key>
	<string>http://175.6.1.99:9090</string>
	<key>enhancedDFA</key>
	<string>EnhancedDFA</string>
</dict>
</plist>
